/* .body-cont {
  background-image: url('../images/bg-3.jpg');
  background-size: contain;
  background-repeat: no-repeat;  
} */

/* .help {
  background-color: red;
}  */

/* .lik {
  background-color: blue;
} */

#character-img {
  border-radius: 50%;
}

#character-name{
  
}